.acierto{
    background-color: lightgreen;
}
.fallo {
    background-color: crimson;
}

div{
    border: 1px;
}

button {
    width: 250px;
    height: 30px;
    background-color: orange;
}
button:hover {
    width: 250px;
    height: 30px;
    background-color: darkgoldenrod;

}

div{
    text-align: center;
    padding: 5px;
    font-size: 16px;
    background-color: #007bff;
    display: block;
    border: 1px solid;

}
span{
    border: 3px solid;
    text-align: center;
    display: block;
    background-color: gray;;

}

